.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 230, 230);
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
  .top {
    height: 50px;
    display: flex;
    align-items: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      padding-left: 15px;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 230, 230);
  }

  .middle {
    padding-left: 10px;

    ul {
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        padding: 5px;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        span {
          font-size: 13px;
          margin-left: 2px;
        }
      }

      .material__icons {
        padding-right: 2px;
      }
    }
  }
  .bottom {
      display: flex;
      margin: 10px 0 0 15px;
    .coloroptions {
      margin: 0 7px 0 0 ;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid black;
      cursor: pointer;
  
      &:nth-child(1) {
        background-color: whitesmoke;
      }
  
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
