.alerts2{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: none;
    box-sizing: border-box;
    .alerts2__container{
        border: 1px solid rgb(184, 184, 184);
        // border-bottom: 1px solid rgb(196, 196, 196);
        margin: 10px;
        .alerts2__top{
            display: flex;
            padding: 5px;
            gap: 0.5rem;
            background-color: rgb(237, 236, 236);
            color: rgba(231, 231, 39, 0.852);
            // align-items: center;
            .alerts2__topleft{
                flex: 1;

                .icons{
                    font-size: 36px;
                }
            }
            .alerts2__topright{
                flex: 2;
            }
        }
        .alerts2__bottom{
            padding: 15px;
        }
    }
}